/*
    $$   $$$$$$$   $$$$$$$$$$  /$$$$$$$  /$$
  | $$$ \ $$$$$$$ \ $$$$$$$$  /$$$$$$$  /$$$
  | $$$$ \ $$$$$$$ \ $$$$$$  /______/  /$$$$
  | $$$$$ \ $$$$$$$ \ $$$$  /$$$$$$$  /$$$$$
  | $$$$$$ \ $$$$$$$ \ $$  /$$$$$$$  /$$$$$$
  |______/  \______/  \_/ /______/  /______/
 
  @sendimaor
  2025-12-07

  Special callout for adding graphical ASCII art to notes. Adds a 
  border and colors.

  Use:
    >[
*/

/* Base styling for all callouts. */
.callout[data-callout^="ascii-"] {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
}

/* Hide the title as we only want to display the art.*/
.callout[data-callout^="ascii-"] .callout-title { display: none; }

/* Center Content. */
.callout[data-callout^="ascii-"] .callout-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Base Code Block Styling */
.callout[data-callout^="ascii-"] pre {
    margin: 0;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid var(--background-modifier-border);
    
    /* Default Size (if no modifier is used) */
    font-size: var(--font-text-size);
    line-height: 1.2; 
}

/* 
  Different sizes can be added to the title of the callout. This
  let's us resize the overall ASCII art so it can always remain in
  frame.

  We check if the callout title ends with the specified text.
*/
.callout[data-callout$="-tiny"] pre { 
    font-size: 0.50rem !important; 
}

.callout[data-callout$="-sm"] pre { 
    font-size: 0.75rem !important; 
}

.callout[data-callout$="-lg"] pre { 
    font-size: 1.25rem !important; 
}

.callout[data-callout$="-huge"] pre { 
    font-size: 1.5rem !important; 
}

/* Gives the callout a "CRT" filter. */
.callout[data-callout*="ascii-wave"] pre::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 3px, 4px 100%;
    pointer-events: none;
}

/* The primary callout. */
.callout[data-callout*="ascii-wave"] pre {
    border: 2px solid #928374;
    text-shadow: 0 0 5px rgba(255,255,255, 0.25);
    background-image: linear-gradient(to right, #fabd2f, #fe8019, #fb4934, #b8bb26);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: 900;
}
